%h1 Listing waivers
-if !@pwaccepted
  You do not have access to view this page
-if @pwaccepted == true
  %table
    %thead
      %tr
        %th Name
        %th Email
        %th Room
        %th
        %th
        %th

    %tbody
      - @waivers.each do |waiver|
        %tr
          %td= waiver.name
          %td= waiver.email
          %td= waiver.room
          %td= time_ago_in_words(waiver.updated_at)
  %br

  = link_to 'New Waiver', new_waiver_path
