.container

  %br
  %br
  %br
  %br

  = form_tag checkpw_nuclearpw_index_path do
    .date.white
      Day
      = select_tag :one, options_for_select(0..9)
      = select_tag :two, options_for_select(0..9)
      Month
      = select_tag :three, options_for_select(0..9)
      = select_tag :four, options_for_select(0..9)
      Year
      = select_tag :five, options_for_select(0..9)
      = select_tag :six, options_for_select(0..9)
    .actions.white
      = submit_tag 'Submit'


