%nav.navbar.navbar-default.navbar-fixed-top
  .container
    =link_to "<------ATTENTION!------>", "http://192.168.1.161:5000/play/96", remote:true, class:"btn btn-danger"

%br
%br
%br
.whitetext
  %h1
    Wizard's Secret Room
  =link_to "countdown timer", wizardcountdown_index_path(timer:60)
  =form_tag("wizard/clear_hint", method: 'post', remote:true) do
    = label_tag 'Clear Hint'
    %button{class:'btn btn-primary'}
      %i.fa.fa-stop
  =form_tag("wizard/custom_message", method: 'post', remote:true) do
    = label_tag 'Type Hint'
    = text_field_tag :message, "", class:'black-text', size: 75
    %button{class:'btn btn-primary'}
      submit
  %h4
    =link_to "<------ATTENTION!------>", "http://192.168.1.161:5000/play/96", remote:true, class:"btn btn-danger"
  %h5{style:"border:solid 1px white"}
    %p Dynamic text hints
    %table
      %th
        %tr
          %th Message
          %th
          %th

      %tbody
        - @texthint2s.each do |texthint2|
          %tr
            %td= link_to texthint2.message, "http://192.168.1.161:5000/play/96", remote:true, class: "message", message: texthint2.message
            %td= link_to 'Edit', edit_texthint2_path(texthint2), class:"btn btn-info"
            %td= link_to 'X', texthint2, :method => :delete, :data => { :confirm => 'Are you sure?' }, class:"btn btn-danger"
      %br

    = link_to 'New Hint (must refresh page)', new_texthint2_path, class:"btn btn-warning"



:javascript

  $('.message').on('click', function() {
    var data = {"message" : $(this).attr('message')};
    $.ajax({
      type: "POST",
      url: "wizard/playfile",
      data: data,
      dataType: "json",
      success: function(data) {
       alert('successfully');
      }
    });
  });