!!!
%html{lang:"en"}
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="google-site-verification" content="Lj5cJC_etisPszLT9khs6jVz46xg3g6LYUf3sn-BtoI")
    %meta(name="description" content="Project Escape is an Escape Room located in Conshohocken, just outside Philly. Book now for a fun night out, a corporate team building exercise, or a special occasion!")
    %title= content_for?(:title) ? yield(:title) : "#{@title}"
    = csrf_meta_tags
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    %link{:href => "https://fonts.googleapis.com/css?family=Passion+One", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Fjalla+One", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Iceland", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %link{:href => "//fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
    %link{href:"//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel:"stylesheet"}
    = yield :head
    %body
      %header
        =render "layouts/header"
      = bootstrap_flash
      .article
        = yield
    %footer
      .container
        %p &copy; Project Escape 2016
:javascript
  function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10)
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = duration;
        }
    }, 100);
  }

  $(document).ready(function () {
    var sixtyMinutes = 60 * 60,
      display = document.querySelector('#time');
    startTimer(sixtyMinutes, display);
  });

  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>